= stylesheet_link_tag "menu_styles"
= javascript_include_tag "menu_script"
#cssmenu
  %ul
    %li
      %a{:href => "#"}
        %span Home
    %li{class: "#{params[:controller] == "admin/patients" ? 'active' : ''}"}
      = link_to "Khách Hàng", admin_patients_path
    %li{class: "#{params[:controller] == "admin/medicines" ? 'active' : ''}"}
      = link_to "Nhập Thuốc", admin_medicines_path
    %li{class: "#{params[:controller] == "admin/services" ? 'active' : ''}"}
      = link_to "Bảng Giá", admin_services_path
    %li{class: "#{params[:controller] == "admin/test" ? 'active' : ''}"}
      = link_to "Giá XN", admin_tests_path
    %li{class: "#{params[:controller] == "admin/price_medicines" ? 'active' : ''}"}
      = link_to "Giá Thuốc", admin_price_medicines_path
    - if current_user.is_admin
      %li{class: "#{params[:controller] == "admin/users" ? 'active' : ''}"}
        = link_to "Users", admin_users_path
   
      

  .pull-right
    -if current_user
      = current_user.first_name.to_s + " " + current_user.last_name.to_s
      |
      = link_to "Sign Out", destroy_user_session_path, method: :delete
  .clearfix