= simple_form_for([:admin, @price_medicine]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: "Tên"
    = f.input :unit, collection: PriceMedicine::UNITS.invert, label: "Đơn vị"
    = f.input :price, label: "Giá"
    = f.input :origin_price, label: "Giá nhập"

  .form-actions
    = f.button :submit
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_price_medicines_path, :class => 'btn'

