

%table.table.table-striped
  %thead
    %tr
      %th Tên
      %th Đơn Vị
      %th Giá
      - if current_user.is_admin
        %th
        %th
        %th
  %tbody
    - @price_medicines.each do |price_medicine|
      %tr
        %td= price_medicine.name
        %td= PriceMedicine::UNITS[price_medicine.unit]
        %td= price_medicine.price
        - if current_user.is_admin
          %td= price_medicine.origin_price
          %td= link_to 'Edit', edit_admin_price_medicine_path(price_medicine)
          %td= link_to 'Destroy', [:admin, price_medicine], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
- if current_user.is_admin
  = link_to 'New Price medicine', new_admin_price_medicine_path
