= simple_nested_form_for [:admin,@patient], :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :age
  = f.input :year
  = f.input :address
  = f.input :user_id, :as => :hidden, input_html: {:class => 'input', value: current_user.id}
  = f.input :description, :as => :text
  = f.fields_for :patients_services do |p_serv|
    = p_serv.input :patient_id, as: :hidden, input_html: { value: f.object.id}
    = p_serv.simple_fields_for(:service) do |serv|
      .pull-left= p_serv.input :service_id, :collection => Service.all, :label => "Service Name"
      .pull-left{style: "margin-left: 1em"}= serv.link_to_remove "Remove"
      .clearfix
    - if p_serv.object.new_record?
      .other-price.hidden= p_serv.input :price
    - elsif !p_serv.object.price.nil?
      .other-price= p_serv.input :price
    
  %p= f.link_to_add "Add a service", :patients_services
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_patients_path, :class => 'btn'


