= form_for [:admin,@patient], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :age, :class => 'control-label'
    .controls
      = f.text_field :age, :class => 'text_field'
  .control-group
    = f.label :year, :class => 'control-label'
    .controls
      = f.text_field :year, :class => 'text_field'
  .control-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_field :address, :class => 'text_field'
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.text_field :user_id, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), admin_patients_path, :class => 'btn'
