- model_class = Patient
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @patient.name
%p
  %strong= model_class.human_attribute_name(:age) + ':'
  %br
  = @patient.age
%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @patient.year
%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  = @patient.address
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @patient.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), patients_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_patient_path(@patient), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), patient_path(@patient), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
